
<h1>Client list : </h1>


<table class=" table">

    @foreach (Client client in ViewBag.Clients)
    {
        <tr>
            <th>@client.Age</th>
            <th><a asp-action="ChangeClient" asp-controller="Admin" asp-route-id="@client.ClientId">Change</a></th>
        </tr>
    }
</table>>

    
